examples/binance-klines.json
{
  "name": "minute",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ac325a27-218c-47ad-85e1-44dcbd1869aa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/5f560c40-fd0e-4b2d-95d8-9fd0274c39c4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"price\":\"{{ $json.price }}\",\n  \"symbol\": \"{{ $json.symbol }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "1faa4e12-2a90-4c13-a242-d9447ab0e652",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api2.binance.com/api/v3/klines?symbol={{ $json.symbol }}&interval=1m&limit=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "55c117d0-8f6d-4a28-b352-0531d9295e92",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all()\n\nconst {symbol} = $('Edit Fields').first().json\n\nreturn { \"price\": +all[0].json[1], symbol };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "a3303176-86df-4dc2-8d21-bfd536b7daa2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f9e4aef-a678-4cf1-9e7b-e191dab3af49",
              "name": "symbol",
              "value": "BTCBRL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f42a92c4-62e8-41f6-8382-596df1a5de67",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "082e8504-7101-4194-abdc-5e52bbd609e1",
  "meta": {
    "instanceId": "a72fe7c162cb379d8257700d2be4638017914593abb41bb927bef7b74f698607"
  },
  "id": "Q7v1Mll8BjF3CA3a",
  "tags": []
}